<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"
    integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" href="./css/style.css">


  <title>Hello, world!</title>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <section ng-app="app">

    <div class="py-3 bg-gray">

      <div class="text-center">
        <h3> Fetch Data With Angular JS </h3>
      </div>

      <div class="row">

        <div class="col-lg-8 py-5 px-5">
          <div>
            <table class="table table-hover" ng-controller="fetchCtrl">
              <thead>
                <tr>
                  <th scope="col"> ID </th>
                  <th scope="col"> NAME </th>
                  <th scope="col"> CATEGORY </th>
                  <th scope="col"> DATE </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in data | filter : sdata | filter : name">
                  <th scope="row"> {{ x.id }} </th>
                  <td> {{ x.name }} </td>
                  <td> {{ x.category }} </td>
                  <td> {{ x.date }} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-lg-4 p-5">
          <div>
            <form class="row g-3">
              <div class="col-auto">
                <label for="staticEmail2" class=""> Search </label>
              </div>
              <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden">Password</label>
                <input type="text" class="form-control" id="inputPassword2" placeholder="Search Here" ng-model="sdata">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3" ng-click="displayData()"> Click </button>
              </div>

              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label"> Name </label>
                          <input type="text" class="form-control iname" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label"> Category </label>
                          <input type="text" class="form-control icategory" id="exampleInputPassword1">
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary btninsert">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>

      </div>

    </div>

    <hr>

    <div class="py-3 bg-gray">

      <div class="text-center">
        <h3> Fetch Data With AJAX call Jquery </h3>
      </div>

      <div class="row">

        <div class="col-lg-8 py-5 px-5">
          <div>

            <table class="table table-hover ajaxtbl">
              <thead>
                <tr>
                  <th scope="col"> ID </th>
                  <th scope="col"> NAME </th>
                  <th scope="col"> CATEGORY </th>
                  <th scope="col"> DATE </th>
                </tr>
              </thead>

              <tbody>
                <script>

                  $(document).ready(function () {

                    $.getJSON("item.json", function (data) {

                      var item = '';

                      $.each(data, function (key, value) {

                        item += '<tr>';

                        item += '<td>' + value.id + '</td>';
                        item += '<td>' + value.name + '</td>';
                        item += '<td>' + value.category + '</td>';
                        item += '<td>' + value.date + '</td>';

                        item += '</tr>';

                      });
                      $('.ajaxtbl').append(item);
                    });

                  });

                </script>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-lg-4 p-5">
          <div>
            <form class="row g-3">
              <div class="col-auto">
                <label for="staticEmail2" class=""> Search </label>
              </div>
              <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden">Password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3"> Click </button>
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>

  </section>

  <footer>
    <div class="w-100">
      <div class="bg-primary py-3 text-center">
        <h3 class="text-white"> This is Footer </h3>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

  <script src="./js/app.js"></script>

</body>

</html>